header {
  text-align: center;
  padding: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-height: 200;
  margin: 0 auto;
  text-align: left;
  border: 5px;
}

.basic input {
  /* basic部分输入框 */
  background-color: #e3e3e3;
  color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 20px;
}
.other input {
  /* basic部分输入框 */
  background-color: #e3e3e3;
  color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 20px;
}

/* 日期输入框的格式提示 */
input::placeholder {
  color: #bbb;
}

.other label {
  margin-right: 10px;
}

.other input[type="radio"] {
  margin-left: 5px;
  margin-bottom: 5px;
}

.other select {
  background-color: #e3e3e3;
  color: #bbb; 
  border: 1px solid #ccc; 
  padding: 10px; 
  border-radius: 2px;
  margin-bottom: 20px; 
  width: 100%; 
}

.other input[type="checkbox"] {
  margin-right: 10px; /* 设置勾选框和文本之间的间距 */
}

.other {
  display: flex;
  flex-direction: column; /* 设置为纵向排列 */
}

/* 使 Birth Date 的输入框独占一行 */
.other > div {
  display: block; 
  width: 100%; 
  margin-bottom: 20px; 
}

.signup-btn {
  /* sign up点击框 */
  background-color: #4caf50; 
  color: #fff;
  border: none; 
  padding: 15px 32px; 
  text-align: center; 
  font-size: 16px; 
  border-radius: 4px; 
  cursor: pointer; 
  width: 100%; 
}

.signup-btn:hover {
  background-color: #45a049; /* 鼠标悬停时按钮颜色变化 */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

main {
  margin-left: 50px; 
  margin-right: 50px;
}
